@keyframes animate-pulse-border {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        border-color: #93c5fd;
    }

    100% {
        transform: scale(1);
        border-color: #e5e7eb;
    }
}